.asp {
    position: relative;
    height: 0;
    overflow: hidden;
    width: 100%;

    &.contain{
        img {
            object-fit: contain;
        }
    }

    &.cover{
        img {
            object-fit: cover;
        }
    }

    img {
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom: 0;
        width:100%;
        height: 100%;
    }

}

.asp-1-1{ padding-bottom : calc(calc(100% * 1) / 1); }
.asp-3-1{ padding-bottom : calc(calc(100% * 1) / 3); }
.asp-16-9{ padding-bottom : calc(calc(100% * 9) / 16); }

.asp-417-627{padding-bottom : calc(calc(100% * 627) / 417);}






