
.filter-section {
    margin: unset;
    ul {
        list-style: none;
        padding: unset;
    }
span{
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    font-size: 11px;
    margin-top: 14px;
    display: block;
}
    label {
        cursor: pointer;
        font-weight: 600;
        color: black;
    }

    //
    //ul, li {
    //    margin: 0;
    //    padding: 0;
    //}

    //li {
    //    padding: 0.5em;
    //}

    .filters {
        width: 400px;
        height: 500px;
        background: white;
        z-index: 1;
        box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.3);
        padding: 1.5em;
        position: absolute;
        left: 35%;
    }

    .filters__list li {
        display: flex;

        align-items: center;
        user-select: none;
        padding-bottom: 1em;
        line-height: 0;
    }

    .filter-button {
        border: unset;
        width: 400px;
        height: 40px;
        background: black;
        color: white;
        position: absolute;
        margin: auto;
        bottom: 20px;
        left: 20px;

        &:hover {
            opacity: .5;
            transition: .3s;
        }
    }

    .filters__list li:last-child {
        padding-bottom: 0;
    }

    input[type="checkbox"] {
        margin-right: 0.5em;
    }

    .filters:not(.filters--active) {
        display: none;
    }

    .button {
        background: #fff;
        border: 1px solid black !important;
        padding: 1em 1em;
        position: absolute;
        left: 40%;
        transform: translate(-50%, -100%);
        font-weight: 600;
        letter-spacing: 0.05em;
        border: 0;
        outline: 0;
        text-align: left;
        font-size: 12px;
        width: unset;
        bottom: unset;
        min-width: 96px;
        display: inline-flex;
        justify-content: space-between;
        color: black;
        transition: .3s;
        cursor: pointer;

        &:hover {
            opacity: .5;
            transition: .3s;
        }
    }

    .button::after {
        font-family: sans-serif;
        content: "▼";
        padding-left: 0.5em;
    }

    .button--highlight::after {
        content: "✓";
    }
}