//::-webkit-scrollbar {
//  width: 3px;
//  background: white;
//}
//
///* Track */
//::-webkit-scrollbar-track {
//  box-shadow: inset 0 0 3px white;
//  border-radius: 3px;
//  background: white;
//}
//
///* Handle */
//::-webkit-scrollbar-thumb {
//  background: $wow-pink;
//  border-radius: 3px;
//}
//
///* Handle on hover */
//::-webkit-scrollbar-thumb:hover {
//  background: $wow-pink;
//}
//


button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.path {
  span {
    color: grey;
  }

  img {
    width: 0.3em;
    margin-inline: 8px;
  }

  span ~ span {
    color: black;
  }
}

h1 {
  margin-top: 10px;
}

.sidebar {
  padding-left: unset;
  display: inline-block;
  width: 23%;
  line-height: 40px;
  height: 100%;
  margin-block: unset;

  li {
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 10px;

    &:hover {
      margin-left: 3px;
      opacity: .5;
      transition: .5s;
    }

    a {
      font-weight: 500;
      color: black;
      font-size: 10px;
      letter-spacing: 3px;
    }

    picture {
      display: inline-block;
      width: 20px;
      aspect-ratio: 1/1;
    }
  }
}

.main-container {
  width: 100%;
  transition: 1s;
  height: auto;
  display: flex;
  column-gap: 35px;
  flex-wrap: wrap;


  .balloons-product {
    margin-bottom: 15px;
    position: relative;

    &:hover {
      box-shadow: 1px 1px 12px 0px #5250501f;
    }

    width: 22%;
    height: max-content;

    a {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    picture {
      display: block;
      aspect-ratio: 1/1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    div {
      padding-inline: 15px;
      padding-block: 15px;

      h2 {
        color: #000;
        font-weight: 600;
        font-size: 12px;
        font-family: 'Montserrat';
        color: #9a9b99c7;
        color: $wow-black;
      }

      h3 {
        font-family: 'Montserrat';
        font-weight: 500;
        color: #00000073;
        font-size: 11px;
        white-space: nowrap;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;

      }

      span {
        color: $wow-black
      }

      .hart {
        display: inline-block;
        float: right;
        aspect-ratio: 1/1;
        width: 20px;
      }
    }
  }
}

.message {
  h1 {
    font-size: 30px;
    text-align: center;
  }

  p {
    text-align: center;
    color: $wow-pink;
    font-family: MONTSERRAT;
    font-size: 14px;
  }

  input {
    display: block;
    margin: auto;
    width: 440px;
    height: 40px;
    /* border-radius: unset; */
    border-style: ridge;
    color: black;
    border: unset;
    background: #80808033;
  }

  .join {
    padding-inline: 60px;
    padding-block: 10px;
    background: white;
    border: 2px solid black;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: black;
    position: relative;
    display: block;
    z-index: 0;

    margin: auto;
    margin-top: 20px;


    &::before {

      content: "";
      width: 100%;
      height: 0;
      background: #9ED6E5;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: .5s;
      z-index: -1;
    }

    &:hover {
      &::before {

        content: "";
        width: 100%;
        height: 100%;
        background: #9ED6E5;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: .5s;
      }
    }
  }

}

select {
  font-family: "Montserrat";
  text-indent: 5px;
  HEIGHT: 30PX;
  border: unset;
  WIDTH: fit-content;
  /* color: #9ED6E5; */
  position: absolute;
  color: black;
  bottom: 0;
  background: #ffffff00;
}

.detect {
  background: black;
  color: white;

}

.text-input {
  font-family: "Montserrat";
  text-indent: 5px;
  width: 100%;
  border: 1px solid $wow-blue;
  position: relative;
  HEIGHT: 34PX;
  color: unset;
}

.fav {
  font-size: 20px;
}

.favorite-toggle-active {
  span {
    .fav {
      font-size: 20px;

      border-radius: 100%;
      background: linear-gradient(
                      172deg, #0d95e8, transparent);

    }
  }
}

.path {
  a {

    display: contents;

    span {
      color: grey;
      font-size: 10px;
      text-transform: uppercase;
    }
  }

  span {
    color: black;
    font-size: 10px;
    text-transform: uppercase;
  }
}

.path-title {

  font-size: 25px;
}

/* ---- start demo code ---- */


//button {
//  background: #fff;
//  border: 0;
//  border-radius: 4px;
//  display: block;
//  cursor: pointer;
//  margin: 10px;
//  padding: 5px 10px;
//}

.custom-toast {
  display: flex;
  align-items: center;
}

.custom-toast img {
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}

.custom-toast p {
  font-size: 14px;
  padding: 10px;
}

/* ---- end demo code ---- */

#toasts {
  min-height: 0;
  position: fixed;
  right: 0;
  top: 20px;
  width: 210px;
  z-index: 9;
}

#toasts .toast {
  background: #b81a4b;
  border-radius: 3px;
  box-shadow: 6px 3px 8px rgb(0 0 0 / 39%);
  color: rgba(0, 0, 0, 0.6);
  cursor: default;
  margin-bottom: 20px;
  opacity: 0;
  position: relative;
  padding: 20px;
  transform: translateY(15%);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  width: 100%;
  will-change: opacity, transform;
  z-index: 1100;
  color: white;

}

#toasts .toast.success {
  background: $wow-pink;

}


#toasts .toast.show {
  opacity: 1;

  transform: translateY(0);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

#toasts .toast.hide {
  height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 30px;
  transition: all 2s ease-in-out;
}

#toasts .toast .close {
  cursor: pointer;
  font-size: 24px;
  height: 16px;
  margin-top: -10px;
  position: absolute;
  right: 14px;
  top: 50%;
  width: 16px;
}

.no-product {
  margin: auto;
}

#guest-shipping-billing {
  div {
    transition: 0.5s;
    width: 50%;
    border: 1px solid #8080804f;
    padding: 30px 20px;
    position: relative;
    margin-right: 30px;
    border: unset;
    background: #8080800f;

    span {
      margin-bottom: 3px;
      color: black;
      letter-spacing: 2px;
    }
  }
}

.sublist {
  cursor: pointer;

  input {
    opacity: 0;
    position: absolute;
  }

  label {
    text-indent: 30px;
    display: inline-block;
    font-size: 9px;
    text-transform: capitalize !important;
    font-weight: 400 !important;
  }

  .checkbox-cust {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    aspect-ratio: 1/1;
    background: white;
    border: 1px solid black;
    margin-bottom: unset !important;
    margin: unset;

    i {
      position: absolute;
      top: -2px;
      left: 0px;
      display: block;
      font-size: 11px;
      color: #E7306A;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }

  }
}

#customize {
  display: block;

  label {
    font-weight: 400;
    color: black;

  }

  input {

    opacity: 0;
    position: absolute;
    top: 100%;
    pointer-events: none;
  }
}

.note {
  display: flex !important;
  flex-direction: column !important;

  text-transform: capitalize;
  max-height: 0px;
  height: 150px !important;
  transition: .5s;
  overflow: hidden;

  label {
    text-transform: capitalize;
    color: black;
    font-weight: 600;
    padding-bottom: 10px;
  }

  &.active {
    max-height: 150px;
    transition: .5s;
  }
}


.addtocartinvisible {
  max-height: 0;
  overflow: hidden;
  transition: .5s;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.addtocartinvisible.active {
  max-height: 200px;
  overflow: unset;
  transition: .5s;
  align-items: center;
  height: 200px;
  position: relative;

  a {
    &:hover {
      opacity: 0.5;
    }
  }
}

.addtocartinvisiblewrap {

  transition: .5s;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  a.active {
    color: black !important;
    transition: .5s;
  }
}

//.chosen-items {
//  width: 100% !important;
//  height: 55px;
//  max-height: 55px;
//  border: 1px solid $wow-blue;
//  box-sizing: border-box;
//  position: relative;
//  transform: unset !important;
//  display: block;
//  transition: .5s;
//  overflow: hidden;
//  margin-left: unset !important;
//  position: relative !important;
//
//  .chosen-icon {
//    position: relative;
//    display: block;
//    padding-inline: 20px;
//    margin-block: 20px;
//
//    &::after {
//      content: "";
//      background-image: url("/assets/svgs/Icon material-arrow-drop-down.svg");
//      width: 16px;
//      height: 100%;
//      position: absolute;
//      bottom: 0;
//      transform: translate(-100%, 20%);
//      right: 0;
//      margin-left: 5px;
//      background-size: auto;
//      background-repeat: no-repeat;
//      background-size: contain;
//    }
//  }
//
//}
//
//.chosen-items.expand {
//  max-height: 500px;
//  transition: .5s;
//  height: 500px;
//overflow: scroll;
//  position: absolute;
//  bottom: 0;
//  transform: unset !important;
//
//  span {
//    margin-block: 20px;
//  }
//
//  .chosen-items-products {
//    width: unset!important;
//    border-bottom: 1px solid black;
//    margin: 0 20px!important;
//    height: 70px;
//    position: relative;
//    display: flex !important;
//    flex-direction: row !important;
//    -moz-column-gap: 30px;
//    column-gap: 30px;
//    padding: 0 20px;
//    picture {
//      display: block !important;
//    }
//
//    .details {
//      position: relative !important;
//      display: block !important;
//      transform: unset !important;
//      .specs{
//        font-style: italic;
//        width: 100%;
//        margin: unset;
//        display: flex!important;
//        flex-direction: row;
//        transform: unset !important;
//      }
//      span{
//        margin: unset;
//      }
//      .price{
//        position: relative;
//        width: 100%;
//        margin: unset;
//      }
//    }
//
//    .remove {
//      position: relative;
//      img{
//        width: 5%;
//      }
//      span {
//        font-size: 10px!important;
//      }
//    }
//
//
//    }
//  }
//
#cart-count-special {
  background: #E7306A;
  filter: unset;
  color: #E7306A;
  top: -15%;
  right: 10%;
  z-index: 0;
  position: absolute;
  @media(max-width: $breakpoint-small) {
    top: -20%;
    right: 0%;
  }
}

.cart-cou {
  width: 11px;
  height: 11px;
  z-index: 0;
  color: white;
  background: $wow-pink;
  display: block;
  line-height: unset;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;


  span {
    position: absolute;
    top: 50%;
    color: white;
    right: 5px;
    filter: drop-shadow(2px 4px 6px black);
    font-size: 7px;
    font-weight: 800;
    transform: translate(50%, -50%);
  }
}

.remove-card {
  font-weight: 500;
  color: black;
  letter-spacing: 2px;
  font-size: 10px;
  position: absolute;
  cursor: pointer;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
}

input.checkout-btn {
  background: unset;
  border: 1px solid black;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  width: unset !important;
  padding: 11px 35px !important;
  right: 30px;
  text-indent: unset;
  height: unset !important;
  border: 2px solid black !important;

}

.black-theme {

  li {
    a {
      color: white !important;

      img {
        filter: invert(1);
      }

      &::after {
        filter: brightness(0) !important;
      }
    }

    ul {
      li {
        a {
          color: black !important;
        }
      }
    }
  }

}

.submitorreset {
  display: flex;
  margin: unset !important;

  button:first-child {
    width: 100% !important;
  }

  //button:last-child{
  //  padding-inline: unset!important;
  //  border: unset!important;
  //  color: $wow-pink!important;
  //  &::before{
  //    content: unset!important;
  //  }
  //  &:hover{
  //    opacity: 0.5;
  //    i{
  //      display: inline-block;
  //      transform: rotate(360deg);
  //      transition: .5s;
  //    }
  //  }
  //  i{
  //    display: inline;
  //    font-size: 10px;
  //    margin-left: 4px;
  //    color: $wow-pink!important;
  //  }
  //}
}

.wrapper {
  display: grid;
  place-items: center;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  top: 0;
  transform: translate(0%, 25%);
}

.typing-demo {
  width: 15ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: MONTSERRAT;
  font-size: 14px;
  color: white;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.loop-cart.children {
  background: #9ed6e524;
  height: 50px !important;
  padding: 15px 40px;
  align-items: center;

  .main-1 {
    .row {
      height: 100%;

      picture {
        height: 100% !important;
      }
    }
  }

  .remove-card {
    transform: translate(-50%, 50%) !important;
  }
}

.pop-up-add-balloon {
  height: 300px !important;
  width: 300px !important;


  picture {
    width: 50% !important;
    height: 50% !important;
    display: block;
    margin: auto;

    img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }

  h1 {
    font-size: 20px;

    text-align: -webkit-center;

  }

  a {
    display: block;
    text-align: center;
    text-transform: lowercase;
    font-weight: 600;
    color: $wow-pink;
  }
}


/* See "View Compiled CSS" for raw CSS ---> */

$dark: #212121;
$dark-contrast: #424242;
$light: #fafafa;
$light-contrast: #cfd8dc;
$accent: #2196f3;

:root {
  --dark: #{$dark};
  --dark-contrast: #{$dark-contrast};
  --light: #{$light};
  --light-contrast: #{$light-contrast};
  --accent: #{$accent};
}


.select {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100px;
  background-color: #000000;
  color: #fff;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 25%);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;

  input[type="radio"] {
    z-index: -1;
  }

  &:focus {
    outline: 0;

    .list {
      z-index: 1;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      pointer-events: all;
    }
  }

  &:hover {
    background-color: lighten($dark-contrast, 2.5%);
  }

  &:focus {
    background-color: lighten($dark-contrast, 5%);
    transition: 400ms ease;
  }

  &::after {
    content: '';
    display: inline-block;
    margin-left: auto;
    border-left: .3755rem solid transparent;
    border-right: .3755rem solid transparent;
    border-top: .375rem solid #fff;
  }

  .list {
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 256px;
    width: clamp(300px, 75vw, 320px);
    border-radius: 4px;
    background-color: var(--light);
    color: #000;
    transform: translate(-50%, -50%) scale(0);
    transition: all 400ms ease;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    overflow-y: auto;

    .group {
      padding: .75rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid darken($light, 10%);
      }
    }

    label {
      display: flex;
      align-items: center;
      padding: 1.25rem 1.5rem;
      cursor: pointer;

      &:hover {
        background-color: darken($light, 5%);
      }

      &:active {
        background-color: darken($light, 10%);
        transition: 400ms ease;
      }

      input[type=radio] {
        margin-right: 1rem;
      }
    }
  }
}

input[type=radio] {
  position: relative;
  height: 24px;
  width: 24px;
  margin: 0;
  border-radius: 50%;
  border: solid 1px var(--light-contrast);
  background-color: transparent;
  appearance: none;
  cursor: pointer;

  &:checked {
    border: none;
    background-color: var(--accent);

    &::before {
      display: block;
    }
  }

  &:focus {
    outline: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: var(--light);
    transform: translate(-50%, -50%);
  }
}


.balloons-product {


  position: relative;
  height: 366px;
  width: 270px !important;

  .primary-button {
    transform: scale(0);


    padding: 0;

    position: absolute;
  }

  .product-container-details {
    padding: unset;
    margin: 15px;
    padding-block: unset !important;
    position: relative;
    z-index: 1;
    margin-top: 25px;

    .add-towishlist-container {
      opacity: 0;
      padding: unset;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &:hover {
    .add-towishlist-container {
      opacity: 1;
      padding: unset;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    picture {
      img {
        transition: .5s;
        filter: blur(2px);
      }
    }

    .primary-button {


      width: 115px;
      height: 40px;
      padding: 0;

      position: absolute;
      transform: scale(1);
      transition: .5s;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 30%;
      z-index: 2;

      .btn-style904 {
        $btn-color: $wow-black;
        $arrow-background: $wow-pink;
        box-shadow: 0px 2px 4px 1px #666060b8;
        background-color: $btn-color;
        border-color: $btn-color;
        color: #fff;
        overflow: hidden;

        height: 40px;
        width: 115px;

        .hover-me {
          position: absolute;
          left: 0;
          font-size: 11px;
          text-transform: capitalize;
          transform: translate(25%, 100%);
          top: 0;
          font-weight: 500;
          transition: all 0.25s;
          color: white;
        }

        &::before,
        &::after {
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          background-color: $arrow-background;
          transition: all 0.25s;
          color: #fff;
        }

        &::before {
          width: 25px;
          content: "\f07a";
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "FontAwesome";
          font-size: 10px;
          font-weight: bold;
          text-indent: 5px;
          border-radius: 50% 0 0 50%;
          z-index: 1;
        }

        &::after {
          width: 100%;
          transform: translate(100%, 0);
          content: attr(data-hover);
          text-align: left;
          text-indent: 8px;
        }

        &:hover {
          border-color: $arrow-background;
          opacity: 1;

          span {
            left: -100%;
          }

          &::before {
            right: 70%;
          }

          &::after {
            right: 70%;
          }
        }
      }
    }

    transition: .5s;
    box-shadow: 1px 1px 12px 0px #5250501f;
  }


  a {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  picture {
    transition: .5s;
    display: block;
    aspect-ratio: 1/1;
    height: 270.23px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  div {
    padding-inline: 15px;
    padding-block: 15px;

    h2 {
      color: #000;
      font-weight: 600;
      font-size: 12px;
      font-family: 'Montserrat';
      color: #9a9b99c7;
      color: $wow-black;
    }

    h3 {
      font-family: 'Montserrat';
      font-weight: 500;
      color: #00000073;
      font-size: 11px;
      white-space: nowrap;
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    span {
      color: $wow-black
    }
  }
}


.fancybox-content {
  h3 {
    font-family: 'Reglisse_Fill' !important;
    color: black;
    text-align-last: center;
    font-size: 20px;
  }

  p {
    font-family: 'Reglisse_Fill';
    color: #e7306a;
    text-align-last: center;
    font-size: 14px;
  }

  div {
    text-align: center;

    a {
      font-family: 'Reglisse_Fill';
    }

    button {
      font-family: 'Reglisse_Fill' !important;
      background: unset;
      color: black;

    }
  }
}


.animation-toast {
  animation: animation-toast 5s normal forwards ease-in-out;
  animation-delay: 0s;
}

@keyframes animation-toast {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  6% {
    opacity: 1;
    transform: translateY(0px);
  }
  94% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

//x

.sublist {
  display: flex;

  label {
    cursor: pointer;
  }
}

span.fa.fa-fw.field-icon.toggle-password {
  position: absolute;
  right: 0;
  color: #e7306a;
  font-weight: 700;
  height: 100%;
  bottom: 0;
  top: 50%;
  font-size: 12px;
  transform: translate(-50%, 0%);
}

.custom-arrow {
  position: absolute;
  width: 40px;
  height: 100%;
  background-color: #1e1e26;
  right: 0;
  top: 0;
  pointer-events: none;

  &::before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 7px;
    border-color: transparent transparent #5b6287 transparent;
    top: 14%;
    left: 35%;
  }

  &::after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 7px;
    border-color: #5b6287 transparent transparent transparent;
    top: 56%;
    left: 35%;
  }
}

.parent-select {
  min-width: 159px;
  width: 159px;
  height: 40px;
  position: relative;

  #mySelect {
    height: 100%;
    position: relative;
    transform: unset;
    width: 160px;
    color: black;
    background: white;
    border: 2px solid black;

  }
}

.outofstock {
  color: $wow-pink !important;
  width: 100%;
  height: 100%;
  display: block;
}

.effect-hover {
  color: #797878;
  margin: auto;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  width: auto;
  display: inline-block;
  transition: 0.3s;

  span {
    &::before {
      width: 5px;
      height: 5px;
      background: transparent;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-top: 2px solid black;
      border-left: 2px solid black;
      transition: .3s;
      opacity: 0;
    }

    &::after {
      width: 5px;
      height: 5px;
      background: transparent;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      border-right: 2px solid black;
      border-bottom: 2px solid black;
      transition: .3s;
      opacity: 0;

    }
  }

  &::before {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-right: 2px solid black;
    border-top: 2px solid black;
    transition: .3s;
    opacity: 0;
  }

  &::after {
    width: 5px;
    height: 5px;
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transition: .3s;
    opacity: 0;
  }

  &:hover {
    color: black;

    &::before {
      opacity: 1;
      right: 5px;
      top: 5px;
    }

    &::after {
      opacity: 1;
      left: 5px;
      bottom: 5px;
    }

    span {
      &::before {
        opacity: 1;
        left: 5px;
        top: 5px;
      }

      &::after {
        opacity: 1;
        right: 5px;
        bottom: 5px;
      }
    }
  }
}


.settings {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  align-items: flex-start;
  column-gap: 2px;

  img {
    transform: scale(1);
  }

  .remove-address {
    color: black;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

//}
.remove{
  cursor: pointer;
}