@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');



#toast, #toast-cart{
    padding: 10px;
    padding-left: 5px;
    position: fixed;
    width: 230px;
    height: 50px;
    top: 0;
    left: 90%;
    transform:translate(-50%);
    background-color: $wow-pink;
    color: white;
    padding: 1px;
    border-radius: 8px;
    text-align:center;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    visibility: hidden;
    opacity: 0;
    -ms-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: MONTSERRAT;
    z-index: 99;
}
#toast.show, #toast-cart.show{
    visibility:visible;
    animation:fadeInOut 3s;
}

@keyframes fadeInOut{
    5%,95%{opacity:1;top:100px}
    15%,85%{opacity:1;top:100px}
}

