$color-primary:rgba(0,0,0,0.55);
$color-black:rgba(0,0,0,1);
$color-white:#fff;
$font-family-regliss_fill:'Reglisse_Fill';
$font-family-regliss_back:'Reglisse_Back';
$font-family-monteserrat:'MONTSERRAT';
$color-graywhite:#707070;
$color-gray-button:#6b6c6a;
$color-gray-greeny:#576948;
$color-gray-1:#505050;
$color-red-filter:#998484;
$color-gray-title:#9a9b99c7;
$color_gray_topbanner:#848484;
$transition-1: 0.1s ease-in-out all;
$transition-2: 0.3s ease-in-out all;
$transition-3: 0.6s ease-in-out all;
$text-indent:2em;
$box-shadow :0px 0px 24px 5px #80808014;
$font-weight :500;
$product-title-size:15px;
$button-font-size: 16px;
$button-color: #6b6c6a;
$product-label-fontsize : 19px;
$margin-top-sections: 15px;
$placeholer-padding-left :0px;
$placeholder-font-weight: 100;
$wow-blue:#9ED6E5;
$wow-pink:#E7306A;
$wow-black:#000;
$section-margin-top:130px;


//////



$breakpoint-xsmall: 375px !default; // phone
$breakpoint-small: 640px !default; // Phone landscape
$breakpoint-medium: 960px !default; // Tablet Landscape
$breakpoint-large: 1200px !default; // Desktop
$breakpoint-xlarge: 1600px !default; // Large Screens