@charset "UTF-8";
.common-loader-hide {
  animation: hideit 0.5s normal forwards ease-in-out !important;
  animation-delay: 0.3s !important;
}

.common-loader-initial {
  animation: fade-in 0.5s normal forwards ease-in-out;
  animation-delay: 0s;
}

@keyframes hideit {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: none !important;
    height: 100vh;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: "Restora";
  src: url("/assets/fonts/RestoraExtraLight.woff2") format("woff2"), url("/assets/fonts/RestoraExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.55);
  font-size: 13px;
}

* {
  color: inherit;
}

select {
  font-family: "Montserrat";
  text-indent: 5px;
}

input {
  font-family: "Montserrat";
  cursor: pointer;
}

input::placeholder {
  font-size: 15px;
  font-family: "Montserrat";
}

h1 {
  color: black;
  font-weight: 100;
  font-size: 35px;
  font-family: "restora";
  text-transform: capitalize;
}
@media (max-width: 768px) {
  h1 {
    font-size: 25px !important;
  }
}

label {
  font-weight: 600;
}

h2 {
  color: #000;
  font-weight: 100;
  font-size: 20px;
  font-family: "restora";
  color: #9a9b99c7;
}
@media (max-width: 768px) {
  h2 {
    font-size: 17px !important;
  }
}

sep {
  display: block;
  height: 10px;
  clear: both;
}

.content {
  padding: 0 20px;
  max-width: 1400px;
  margin: auto;
}

nav.main {
  z-index: 3;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
nav.main.compact .content {
  height: 70px !important;
}
nav.main .content {
  display: flex;
  height: 100px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s all;
}
@media (max-width: 768px) {
  nav.main .content {
    display: none;
  }
}
nav.main .content-responsive {
  display: none;
}
@media (max-width: 768px) {
  nav.main .content-responsive {
    display: flex;
    height: 60px;
    flex-wrap: nowrap;
    padding-inline: 40px;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s all;
  }
}
nav.main .logo {
  width: 120px;
  display: flex;
  z-index: 0;
}
@media (max-width: 400px) {
  nav.main .logo {
    justify-content: flex-end;
  }
}
nav.main .logo img {
  width: 100%;
}
@media (max-width: 400px) {
  nav.main .logo img {
    width: 75% !important;
  }
}
@media (max-width: 768px) {
  nav.main .menu {
    display: none;
  }
}
@media (max-width: 768px) {
  nav.main .actions {
    padding-left: 0;
  }
}
nav.main .menu-btn {
  font-size: 30px;
}
@media (min-width: 1024px) {
  nav.main .menu-btn {
    display: none;
  }
}
nav.main ul {
  list-style: none;
  flex-wrap: nowrap;
  justify-content: center;
  display: flex;
  align-items: center;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
}
nav.main ul li .drop-down-menu {
  left: 0px;
  right: 0;
  box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.09);
  z-index: 2;
  width: 100%;
  height: 300px;
  background: white;
  left: 0px;
  position: absolute;
  top: 100px;
  display: flex;
  max-height: 0;
  transition: all 0.6s;
  overflow: hidden;
}
nav.main ul li .drop-down-menu div.content {
  margin: auto;
  width: 100%;
  height: 100% !important;
  position: relative;
}
nav.main ul li .drop-down-menu div.content ul li {
  padding-block: 0px;
  margin-right: 50px;
}
nav.main ul li .drop-down-menu.compact {
  height: 300px !important;
  top: calc(100px - 30px) !important;
}
nav.main ul li .drop-down-menu ul {
  width: auto;
  justify-content: initial;
  flex-direction: column;
  height: inherit;
  padding-left: unset !important;
  color: black;
  font-family: -webkit-pictograph;
}
nav.main ul li .drop-down-menu .data-menu {
  display: none;
}
nav.main ul li .drop-down-menu .data-menu div {
  width: auto;
  height: 100%;
  column-count: auto;
  column-fill: auto;
  list-style: none;
  padding-left: 0;
  column-width: 180px;
  line-height: 25px;
}
nav.main ul li .drop-down-menu .data-menu div ul span {
  visibility: hidden;
}
nav.main ul li .drop-down-menu .data-menu .data-menu-button a {
  position: absolute;
  bottom: 0;
  font-family: "restora";
  right: 0;
  height: auto;
  width: auto;
  background: #6b6c6a;
  z-index: 5;
  line-height: 0;
  margin-inline: 0;
  padding: 25px 20px;
  transform: translateY(-50%);
  margin: 0 20px;
  color: white;
}
nav.main ul li .drop-down-menu .data-menu .data-menu-button a::before {
  content: "";
  background: #998484;
  position: absolute;
  height: 0%;
  width: 100%;
  left: 0;
  bottom: 0;
}
nav.main ul li .drop-down-menu .data-menu .data-menu-button a::after {
  border-bottom: none;
}
nav.main ul li .drop-down-menu .data-menu .data-menu-button a:hover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.5s;
}
nav.main ul li .drop-down-menu .active {
  width: 80%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
nav.main ul li .drop-down-menu .active div ul {
  display: list-item;
  border-bottom: unset;
  height: 60%;
  width: 100%;
}
nav.main ul li .drop-down-menu .active div ul li {
  border: unset;
}
nav.main ul a {
  line-height: 80px;
  text-decoration: none;
}
nav.main ul li:hover .drop-down-menu {
  max-height: 600px;
}

ul.menu {
  width: 100%;
}
ul.menu li a {
  margin: 0 20px;
  position: relative;
}
@media (max-width: 900px) {
  ul.menu li a {
    margin: 0 10px;
    width: fit-content;
  }
}
ul.menu li a:after {
  content: "";
  position: absolute;
  left: 0px;
  width: 0;
  height: 30px;
  bottom: 0;
  top: 0;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.55);
  transition: 0.3s ease-in-out all;
  opacity: 0;
}
ul.menu li a:hover:after {
  width: 100%;
  opacity: 1;
}

@media (min-width: 770px) {
  ul.main-menu.level-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 100px;
    align-items: center;
  }
  ul.main-menu.level-1 li.item {
    font-family: Montserrat;
  }
  ul.main-menu.level-1 li.item ul.main-menu.level-2 {
    padding: unset;
    max-width: unset;
    margin: unset;
    height: 300px;
    background: white;
    /* width: 100%; */
    position: absolute;
    left: 0;
    max-height: 0;
    transition: 0.5s;
    top: 100px;
    display: flex;
    right: 0px;
    justify-content: flex-start;
    overflow: hidden;
  }
  ul.main-menu.level-1 li.item ul.main-menu.level-2 .encloureClass.enclosed {
    width: 100%;
    padding: 0 20px;
    max-width: 1400px;
    margin-inline: auto;
  }
  ul.main-menu.level-1 li.item ul.main-menu.level-2 li.item {
    font-family: "restora";
    height: 50px;
    padding-bottom: 10px;
    width: 200px;
    border-bottom: 1px solid #0000001a;
    font-size: 15px;
  }
  ul.main-menu.level-1 li.item ul.main-menu.level-2 li.item a {
    margin-inline: unset;
  }
  ul.main-menu.level-1 li.item ul.main-menu.level-2 li.item a:hover:after {
    width: 100%;
    opacity: 1;
  }
  ul.main-menu.level-1 li.item ul.main-menu.level-2 li.item ul.main-menu.level-3 {
    display: none;
  }
  ul.main-menu.level-1 li.item ul.main-menu.level-2 li.item ul.main-menu.level-3.Display {
    display: flex;
    position: absolute;
    padding-left: 0px;
    left: 30%;
    top: 0;
    width: 50%;
    justify-content: flex-start;
  }
  ul.main-menu.level-1 li.item ul.main-menu.level-2 li.item ul.main-menu.level-3.Display .encloureClass.enclosed {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    margin: unset;
  }
  ul.main-menu.level-1 li.item ul.main-menu.level-2 li.item ul.main-menu.level-3.Display li.item {
    font-family: "restora";
    height: 50px;
    font-family: "restora";
    height: 50px;
    padding-bottom: 10px;
    width: auto;
    margin-right: 10px;
    border-bottom: 1px solid #0000001a;
  }
  ul.main-menu.level-1 li.item ul.main-menu.level-2 li.item ul.main-menu.level-3.Display li.item ul.main-menu.level-4 {
    list-style: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-left: 0px;
  }
  ul.main-menu.level-1 li.item ul.main-menu.level-2 li.item ul.main-menu.level-3.Display li.item ul.main-menu.level-4 .encloureClass.enclosed {
    padding-inline: unset;
    display: inline-block;
    width: 155px;
    height: 200px;
    column-fill: auto;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-width: 150px;
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    justify-content: space-between;
    top: 50px;
  }
  ul.main-menu.level-1 li.item ul.main-menu.level-2 li.item ul.main-menu.level-3.Display li.item ul.main-menu.level-4 li.item {
    font-family: Montserrat;
    border: unset;
    width: unset;
    padding-bottom: 0;
  }
  ul.main-menu.level-1 li.item ul.main-menu.level-2 li.item ul.main-menu.level-3.Display li.item ul.main-menu.level-4 li.item a {
    line-height: 0;
  }
  ul.main-menu.level-1 li.item:hover ul.main-menu.level-2 {
    box-shadow: 0px 11px 7px 0px #9a9b9942;
    padding: unset;
    max-width: unset;
    margin: unset;
    height: 300px;
    background: white;
    /* width: 100%; */
    z-index: 1;
    position: absolute;
    left: 0;
    max-height: 300px;
    transition: 0.5s;
    display: flex;
    right: 0px;
    justify-content: flex-start;
  }
  ul.main-menu.level-1 li.item:hover ul.main-menu.level-2 .encloureClass.enclosed {
    width: 100%;
    padding: 0 20px;
    max-width: 1400px;
    margin-inline: auto;
  }
  ul.main-menu.level-1 li.item:hover ul.main-menu.level-2 li.item a {
    margin-inline: unset;
    font-size: 15px;
    display: inline-block;
    width: 100%;
    height: inherit;
  }
  ul.main-menu.level-1 li.item:hover ul.main-menu.level-2 li.item a::after {
    content: "❯";
    position: relative;
    left: 0px;
    width: 100%;
    height: 30px;
    bottom: 0;
    color: #998484;
    top: 3px;
    left: 0;
    margin: auto;
    border: unset;
    transition: 0.3s ease-in-out all;
  }
  ul.main-menu.level-1 li.item:hover ul.main-menu.level-2 li.item a:hover::after {
    content: "❯";
    position: relative;
    left: 80%;
    width: 100%;
    height: 30px;
    bottom: 0;
    color: #998484;
    top: 3px;
    margin: auto;
    border: unset;
    transition: 0.3s ease-in-out all;
  }
  ul.main-menu.level-1 li.item:hover ul.main-menu.level-2 li.item ul.main-menu.level-3 {
    display: none;
  }
  ul.main-menu.level-1 li.item:hover ul.main-menu.level-2 li.item ul.main-menu.level-3.Display {
    position: absolute;
    padding-left: 0px;
    left: 30%;
    top: 0;
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
  ul.main-menu.level-1 li.item:hover ul.main-menu.level-2 li.item ul.main-menu.level-3.Display .encloureClass.enclosed {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    margin: unset;
  }
  ul.main-menu.level-1 li.item:hover ul.main-menu.level-2 li.item ul.main-menu.level-3.Display li.item a {
    margin-inline: unset;
    font-size: 15px;
    display: unset;
    width: 100%;
    height: unset;
  }
  ul.main-menu.level-1 li.item:hover ul.main-menu.level-2 li.item ul.main-menu.level-3.Display li.item a::after {
    content: "";
    border: unset !important;
  }
  ul.main-menu.level-1 li.item:hover ul.main-menu.level-2 li.item ul.main-menu.level-3.Display li.item ul.main-menu.level-4 {
    list-style: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-left: 0px;
  }
  ul.main-menu.level-1 li.item:hover ul.main-menu.level-2 li.item ul.main-menu.level-3.Display li.item ul.main-menu.level-4 .encloureClass.enclosed {
    padding-inline: unset;
    display: inline-block;
    width: 155px;
    height: 200px;
    column-fill: auto;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-width: 150px;
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    justify-content: space-between;
    top: 50px;
  }
}
ul.actions {
  height: 80px;
  width: 100px;
}
ul.actions .togglesearch {
  background: #ffffff;
  position: fixed;
  top: 100px;
  display: flex;
  right: 0;
  width: 100%;
  /* transform: translateX(-22%); */
  height: 95px;
  line-height: 60px;
  box-shadow: 0px 0px 3px 0px #d9d9d9;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  ul.actions .togglesearch {
    background: #ffffff;
    position: fixed;
    top: 60px;
    display: flex;
    right: 0;
    width: 100%;
    /* transform: translateX(-22%); */
    height: 95px;
    line-height: 60px;
    box-shadow: 0px 0px 3px 0px #d9d9d9;
    justify-content: space-around;
    align-items: center;
  }
}
ul.actions .togglesearch.compact {
  background: #ffffff;
  position: fixed;
  top: 70px;
  display: flex;
  right: 0;
  width: 100%;
  /* transform: translateX(-22%); */
  height: 95px;
  line-height: 60px;
  box-shadow: 0px 0px 5px 0px #d9d9d9;
  justify-content: space-around;
  align-items: center;
}
ul.actions .togglesearch input[type=text] {
  width: 50%;
  padding: 5px 10px;
  margin-left: 23px;
  border: unset;
  outline: none;
  font-family: "restora";
  font-size: 18px;
}
ul.actions .togglesearch button {
  width: 98px;
  padding: 5px 0;
  background: #6b6c6a;
  color: #fff;
  /* margin-left: -6px; */
  border: 1px solid #6b6c6a;
  outline: none;
  height: 50px;
  cursor: pointer;
  font-family: "restora";
}
@media (max-width: 768px) {
  ul.actions {
    width: 50px;
  }
}
ul.actions a {
  padding: 0 10px;
}

.owl-carousel .owl-stage-outer {
  height: 100% !important;
}

.modal {
  display: none;
}

.slideshow {
  height: calc(100vh - 100px);
  margin-top: 100px;
  display: block;
}
@media (max-width: 768px) {
  .slideshow {
    margin-top: 60px;
    height: calc(100vh - 40px);
  }
}
.slideshow .owl-item.active .progress {
  height: 2px;
  background: gray;
  position: absolute;
  width: 20% !important;
}
.slideshow .owl-item.active .progress:after {
  content: "";
  width: 50px;
  height: 2px;
  background: #fff;
  position: absolute;
  /* animation: loader 2s!important; */
  -webkit-animation: loader 6s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  bottom: 0px;
  top: 0;
  margin-left: 0;
}
@keyframes loader {
  0% {
    width: 0%;
  }
  99% {
    width: 100%;
  }
}
@-webkit-keyframes loader {
  0% {
    width: 0%;
    right: 100%;
  }
  50% {
    width: 100%;
  }
  99% {
    width: 0%;
    right: 0;
  }
}
.slideshow .owl-dots {
  margin-top: 4%;
  width: 100%;
  height: 2px;
  position: absolute;
  top: -50%;
  display: flex;
  background-color: rgba(112, 112, 112, 0.25);
}
.slideshow .owl-dots .owl-dot {
  width: 100%;
}
.slideshow .owl-dots .owl-dot.active {
  background-color: #707070;
}
.slideshow .owl-dots::after {
  content: "";
  margin-bottom: 10px;
}
.slideshow .owl-nav {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0px 20px;
  border-radius: 50%;
  /* width: 100%; */
  bottom: 15vh;
  font-size: 30px;
  max-width: 1400px;
  height: 50px;
  display: flex;
  /* margin: 0; */
  justify-content: flex-end;
}
.slideshow .owl-nav button.owl-prev {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 15px;
  border: 1px solid #ffffff6b !important;
}
.slideshow .owl-nav button.owl-next {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #ffffff6b !important;
}
.slideshow .slide {
  background-position-x: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.slideshow .slide:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 0;
  height: 100vh;
}
.slideshow .slide .content {
  height: 100%;
  position: relative;
  z-index: 1;
}
.slideshow .slide .content .slide-title {
  position: absolute;
  bottom: 15vh;
  padding-top: 50px;
  width: 100%;
  max-width: 600px;
}
@media (max-width: 768px) {
  .slideshow .slide .content .slide-title {
    max-width: 300px;
  }
}
.slideshow .slide .content .slide-title h1 {
  color: #fff;
  font-family: "Restora", serif;
  font-size: 60px;
}
.slideshow .slide .content .slide-title a {
  display: inline-block;
  padding: 25px;
  font-family: "Restora", serif;
  color: #fff;
  text-decoration: none;
  position: absolute;
  font-size: 16px;
}
.slideshow .slide .content .slide-title a:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  backdrop-filter: blur(9px) brightness(0.9);
}
.slideshow .slide .content .slide-title a:after {
  display: block;
  content: "";
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #998484;
  transition: 0.3s ease-in-out all;
}
.slideshow .slide .content .slide-title a:hover:after {
  height: 100%;
}
.slideshow .slide #slidearrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(-50%);
  padding-right: inherit;
}
.slideshow .slide #slidearrows img {
  width: 45%;
  height: inherit;
}

.second-container {
  height: fit-content;
  display: block;
}
.second-container .slide {
  background-position-y: center;
}
.second-container .slide .content {
  display: flex;
  height: inherit;
  flex-direction: row;
  align-items: center;
  min-height: calc(100vh - 100px);
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  row-gap: 70px;
}
.second-container .slide .content .slide-title {
  width: 700px;
  line-height: 2.1em;
}
.second-container .slide .content .slide-title p {
  line-height: 1.5em;
  width: 75%;
  color: #848484;
  font-size: 14px;
}
.second-container .slide .content .slide-title h1 {
  font-size: 55px;
  font-weight: 100;
  color: #848484;
  margin-block-end: 0.8em;
}
.second-container .slide .content .slide-title h2 {
  font-size: 45px;
  font-weight: 100;
  margin-top: unset;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .second-container .slide .content .slide-title h2 {
    font-size: 25px !important;
  }
}
.second-container .slide .content .slide-title div {
  width: 20%;
  height: 50px;
  background: #6b6c6a;
  color: white;
  text-align: center;
}
.second-container .slide .content .slide-title a {
  display: inline-block;
  padding: 16px 25px;
  font-family: "Restora", serif;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 16px;
}
.second-container .slide .content .slide-title a::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  -webkit-backdrop-filter: blur(9px) brightness(0.9);
  backdrop-filter: blur(9px) brightness(0.9);
  background-color: #6b6c6a;
}
.second-container .slide .content .slide-title a::after {
  display: block;
  content: "";
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #998484;
  transition: 0.3s ease-in-out all;
}
.second-container .slide .content .slide-title a:hover:after {
  height: 100%;
}
.second-container .slide .content .slide-image {
  width: 700px;
  margin: auto;
}
.second-container .slide .content .slide-image div {
  width: 50%;
  height: inherit;
  object-fit: cover;
  margin: 0 calc(100% / 3);
}
@media (max-width: 768px) {
  .second-container .slide .content .slide-image div {
    width: 35%;
  }
}
.second-container .slide .content .slide-image div img {
  width: 100%;
  height: inherit;
}

.third-container {
  height: auto;
  display: block;
}
.third-container .content {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  /* margin-top: 4%; */
}
.third-container .content h1 {
  text-align: center;
  margin-top: 0;
}
.third-container .content div {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  min-height: 40%;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .third-container .content div {
    justify-content: space-evenly;
  }
}
.third-container .content div figure {
  height: 498px;
  width: 336px;
  position: relative;
  margin-inline: 0px;
}
.third-container .content div figure::before {
  background: #00000036;
  content: "";
  height: 498px;
  width: 100%;
  position: absolute;
}
.third-container .content div figure:hover figcaption:after {
  width: 100%;
  opacity: 1;
}
.third-container .content div figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.third-container .content div figure figcaption {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-family: "restora";
  color: white;
  font-size: 20px;
  margin-left: calc(100% / 2);
  margin-bottom: 4vh;
  transform: translateX(-50%);
  padding-bottom: 4px;
}
.third-container .content div figure figcaption:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  text-decoration: underline;
  bottom: 0;
  top: 0;
  margin: auto;
  transition: 0.3s ease-in-out all;
  border-bottom: 1px solid white;
}

.product-list {
  min-height: auto;
  width: 100%;
  display: block;
}
.product-list .content .container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
}
@media (max-width: 376px) {
  .product-list .content .container {
    padding-left: 0px;
  }
}
.product-list .content .container h1 {
  text-align: center;
  color: black;
  font-weight: 400;
  margin-top: 0;
}
.product-list .content .container h2 {
  text-align: center;
  color: black;
  font-weight: 100;
  font-size: 19px;
  margin-top: unset;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .product-list .content .container h2 {
    font-size: 15px !important;
  }
}
.product-list .content .container .product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .product-list .content .container .product-container {
    justify-content: center;
  }
}
.product-list .content .container .product-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  justify-content: flex-start;
  position: relative;
  margin-right: 22px;
}
.product-list .content .container .product-container div .productCard {
  height: 270px;
}
.product-list .content .container .product-container div .productCard img {
  width: 100%;
  height: 100%;
}
.product-list .content .container .product-container div .link {
  display: none;
}
.product-list .content .container .product-container div:hover {
  box-shadow: 0px 0px 6px 7px #f3f2f294;
}
.product-list .content .container .product-container div:hover .link {
  display: block;
  position: absolute;
  bottom: 50%;
  background: #3333332e;
  padding-inline: 25px;
  padding-block: 19px;
  color: white;
  font-family: "Restora";
  font-size: 17px;
  backdrop-filter: blur(3px);
  text-decoration: none;
}
.product-list .content .container .product-container div:hover .link::before {
  content: "";
  height: 0;
  background: #998484;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.product-list .content .container .product-container div:hover .link:hover::before {
  height: 100%;
  transition: 0.5s;
}
.product-list .content .container .product-container div h3 {
  font-family: "restora";
  color: black;
  margin-block: 21px;
  font-size: 16px;
  margin-bottom: unset;
  font-weight: 400;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}
.product-list .content .container .product-container div h3 + h3 {
  font-family: "Montserrat";
  color: black;
  margin-block: 21px;
  font-size: 16px;
  margin-top: unset;
  font-weight: 400;
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.product-list .content .container .product-container div span {
  color: #80808096;
  font-family: "Montserrat";
  font-size: 13px;
  margin-bottom: 5px;
}
.product-list .content .container .product-container div span + span {
  font-size: 12px;
  color: #8080804d;
}

.fourth-container {
  min-height: auto;
  width: 100%;
  display: block;
}
.fourth-container .content .container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 5%;
}
.fourth-container .content .container h1 {
  text-align: center;
  color: black;
  font-weight: 400;
  margin-top: 0;
}
.fourth-container .content .container h2 {
  text-align: center;
  color: black;
  font-weight: 100;
  font-size: 19px;
  margin-top: unset;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .fourth-container .content .container h2 {
    font-size: 15px !important;
  }
}
.fourth-container .content .container .product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 15px;
}
@media (max-width: 440px) {
  .fourth-container .content .container .product-container {
    justify-content: center;
  }
}
.fourth-container .content .container .product-container div {
  margin-right: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  justify-content: flex-start;
  position: relative;
}
.fourth-container .content .container .product-container div .productCard {
  height: 270px;
}
.fourth-container .content .container .product-container div .productCard img {
  width: 100%;
  height: 100%;
}
.fourth-container .content .container .product-container div .link {
  display: none;
}
.fourth-container .content .container .product-container div:hover {
  box-shadow: 0px 0px 6px 7px #f3f2f294;
}
.fourth-container .content .container .product-container div:hover .link {
  display: block;
  position: absolute;
  bottom: 50%;
  background: #3333332e;
  padding-inline: 25px;
  padding-block: 19px;
  color: white;
  font-family: "Restora";
  font-size: 17px;
  backdrop-filter: blur(3px);
  text-decoration: none;
}
.fourth-container .content .container .product-container div:hover .link::before {
  content: "";
  height: 0;
  background: #998484;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.fourth-container .content .container .product-container div:hover .link:hover::before {
  height: 100%;
  transition: 0.5s;
}
.fourth-container .content .container .product-container div h3 {
  font-family: "Montserrat";
  color: black;
  margin-block: 21px;
  font-size: 16px;
  margin-bottom: unset;
  font-weight: 400;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}
.fourth-container .content .container .product-container div h3 + h3 {
  font-family: "Montserrat";
  color: black;
  margin-block: 21px;
  font-size: 16px;
  margin-top: unset;
  font-weight: 400;
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.fourth-container .content .container .product-container div span {
  color: #80808096;
  font-family: "Montserrat";
  font-size: 13px;
  margin-bottom: 5px;
}
.fourth-container .content .container .product-container div span + span {
  font-size: 12px;
  color: #8080804d;
}

.fifth-container {
  min-height: calc(100vh - 100px);
  display: block;
}
.fifth-container .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 70px;
}
.fifth-container .content div {
  width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin: auto;
}
.fifth-container .content div img {
  width: 100%;
  height: inherit;
}
.fifth-container .content div div {
  width: 100%;
  margin-top: 5%;
}
.fifth-container .content div div span {
  font-family: "restora";
}
.fifth-container .content div div h1 {
  color: black;
  font-weight: 100;
  font-size: 19px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .fifth-container .content div div h1 {
    font-size: 19px !important;
  }
}
.fifth-container .content div div p {
  padding-right: 35%;
  margin-top: unset;
  margin-bottom: 35px;
  font-size: 15px;
  color: #c2bfbf;
  font-weight: 300;
}
@media (max-width: 768px) {
  .fifth-container .content div div p {
    padding-right: 0%;
  }
}
.fifth-container .content div div a {
  display: inline-block;
  font-family: "Restora", serif;
  color: #fff;
  text-decoration: none;
  padding: 15 20px;
  position: relative;
  text-align: center;
  font-size: 16px;
  margin: auto;
  margin-left: 0;
}
.fifth-container .content div div a::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  -webkit-backdrop-filter: blur(9px) brightness(0.9);
  backdrop-filter: blur(9px) brightness(0.9);
  background-color: #6b6c6a;
}
.fifth-container .content div div a::after {
  display: block;
  content: "";
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #998484;
  transition: 0.3s ease-in-out all;
}
.fifth-container .content div div a:hover:after {
  height: 100%;
}

.footer .content {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.footer .content h1 {
  margin-bottom: 10px;
}
.footer .content h2 {
  color: black;
  font-size: 20px;
  margin-top: unset;
  margin-bottom: 40px;
  font-family: "restora";
}
.footer .content p {
  text-align: center;
  color: black;
  font-weight: 100;
  font-size: 19px;
  margin-top: unset;
  margin-bottom: 0px;
  font-family: "restora";
}
@media (max-width: 768px) {
  .footer .content p {
    font-size: 15px;
  }
}
.footer .content div {
  margin-top: 1%;
}
.footer .content div .slide {
  width: 214px;
  height: 212px;
}
.footer .content div .slide img {
  object-fit: contain;
  width: 100%;
  height: inherit;
}
.footer .content .footer-carousel .owl-dots {
  margin-top: 4%;
  width: 100%;
  height: 2px;
  display: flex;
  background-color: rgba(112, 112, 112, 0.25);
}
.footer .content .footer-carousel .owl-dots .owl-dot {
  width: 100%;
}
.footer .content .footer-carousel .owl-dots .owl-dot.active {
  background-color: #707070;
}

.footermap {
  margin-top: 2%;
  height: fit-content;
}
.footermap .content {
  color: black;
  display: flex;
  flex-direction: row;
  text-align: start;
  justify-content: space-between;
  height: 35%;
  flex-wrap: wrap;
}
@media (max-width: 440px) {
  .footermap .content {
    color: black;
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: center;
    height: 35%;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-top: 40px;
  }
}
.footermap .content .subscribe {
  width: 400px;
}
@media (max-width: 400px) {
  .footermap .content .subscribe {
    width: 320px;
  }
}
.footermap .content div {
  line-height: 3em;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 290px;
}
.footermap .content div span {
  font-family: "restora";
  font-size: 15px;
}
.footermap .content div h4 {
  font-weight: 100;
  font-family: "restora";
  font-size: 15px;
  margin-bottom: unset;
}
.footermap .content div form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footermap .content div form input::placeholder {
  font-style: italic;
  color: #8080806b;
  padding-left: 0px;
  font-weight: 100;
}
.footermap .content div form input[type=email] {
  height: 50px;
  width: 210px;
}
@media (max-width: 400px) {
  .footermap .content div form input[type=email] {
    height: 40px;
    width: 100%;
  }
}
.footermap .content div form button {
  display: inline-block;
  padding: 12px;
  font-family: "Restora", serif;
  color: #fff;
  text-decoration: none;
  position: relative;
  text-align: center;
  width: 100px;
  background-color: #505050;
  border: none;
  z-index: 1;
}
.footermap .content div form button::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  -webkit-backdrop-filter: blur(9px) brightness(0.9);
  backdrop-filter: blur(9px) brightness(0.9);
  background-color: #505050;
}
.footermap .content div form button::after {
  display: block;
  content: "";
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #998484;
  transition: 0.3s ease-in-out all;
}
.footermap .content div form button:hover::after {
  height: 100%;
}
.footermap .content div .socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15%;
  width: 250px;
}
.footermap .content div .socialmedia li {
  width: 50px;
  height: 50px;
}
.footermap .content div .socialmedia li a img {
  width: 100%;
  height: 100%;
}
.footermap .footercolumnmap span {
  color: black;
  font-family: -webkit-pictograph;
  font-size: 13px;
}
.footermap .footercolumnmap ul {
  padding-left: unset;
  color: black;
  list-style: none;
  font-size: 13px;
  font-family: "Montserrat";
  line-height: 2em;
}
.footermap .footercolumnmap ul li a {
  text-decoration: unset;
}

.topbanner {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .topbanner {
    margin-top: 60px;
  }
}
.topbanner figure {
  margin: unset;
  height: 160px;
  width: 100%;
  background-color: #57694826;
}
@media (max-width: 768px) {
  .topbanner figure {
    height: 100px;
  }
}
.topbanner figure img {
  width: 100%;
  height: inherit;
}
.topbanner figcaption {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 0;
  margin: auto;
  width: 100%;
  width: 32%;
  padding-inline: 34%;
  transform: translateY(-50%);
}
.topbanner figcaption span {
  color: #00000038;
  font-weight: 100;
  white-space: nowrap;
  text-transform: capitalize;
}
.topbanner figcaption h1 {
  margin-block: unset;
  color: #5050508f;
  font-size: 50px;
  margin-top: 10px;
  white-space: nowrap;
}
.topbanner figcaption h2 {
  font-size: 14px;
  color: #00000094;
  text-align: center;
  font-weight: 100;
  font-family: Montserrat;
}
@media (max-width: 768px) {
  .topbanner figcaption h2 {
    font-size: 7px !important;
  }
}

.categories .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.categories .content .parent-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.categories .content .parent-container .sidebar {
  width: 379px;
  display: inline-block;
  height: 100%;
  position: relative;
  padding-right: 20px;
}
.categories .content .parent-container .sidebar h4 {
  border-bottom: 1px solid #eef0ec;
  font-weight: 400;
  font-family: "Restora";
  color: black;
  font-weight: 100;
  font-size: 18px;
}
.categories .content .parent-container .sidebar ul {
  color: black;
  padding-inline-start: 0px;
  line-height: 3em;
  list-style: none;
}
.categories .content .parent-container .sidebar ul li .expanded {
  transform: rotate(90deg);
  transition: 0.5s;
}
.categories .content .parent-container .sidebar ul li a {
  text-decoration: unset;
  list-style: none;
}
.categories .content .parent-container .sidebar ul li a p {
  display: inline;
  font-weight: 100;
  font-size: 16px;
  padding-left: 30px;
  color: #333;
}
.categories .content .parent-container .sidebar ul.sublist li {
  font-weight: 100;
  font-size: 16px;
  color: #333;
}
.categories .content .parent-container .sidebar ul.sublist li span.selected-square {
  width: 10px;
  height: 10px;
  border: 1px solid #505050;
  display: inline-block;
}
.categories .content .parent-container .sidebar ul.sublist li span.selected-square.active {
  width: 10px;
  height: 10px;
  border: 1px solid #505050;
  display: inline-block;
  background: #505050;
}
.categories .content .parent-container .sidebar ul.sublist li ul {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.categories .content .parent-container .sidebar ul.sublist li ul .filter-custom input {
  opacity: 0;
  position: absolute;
}
.categories .content .parent-container .sidebar ul.sublist li ul .filter-custom label {
  font-weight: 100;
}
.categories .content .parent-container .sidebar ul.sublist li ul .filter-custom label div {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid black;
  margin-right: 10px;
}
.categories .content .parent-container .sidebar ul.sublist li ul .filter-custom label div.active {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid black;
  margin-right: 10px;
  background: black;
}
.categories .content .parent-container main {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1001px;
}
@media (max-width: 768px) {
  .categories .content .parent-container main {
    width: 100%;
  }
}

.copyright {
  height: 100px;
  background: #9a9b9921;
  position: absolute;
  width: 100%;
  left: 0;
}
.copyright .content {
  display: flex;
  justify-content: space-between;
  height: calc(100% / 1);
  /* flex-direction: row; */
  align-items: center;
  color: #333;
}
@media (max-width: 600px) {
  .copyright .content span {
    font-size: 10px;
  }
}

.recommended .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommended .content h1 {
  margin-top: 100px;
}
.recommended .content h2 {
  color: black;
  font-size: 15px;
  margin-top: unset;
  font-family: "restora";
}
.recommended .content div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.recommended .content div figure {
  width: 153px;
  padding-block: 1em;
  padding-inline: 40px;
  margin-block: unset;
  margin-inline: unset;
  margin: auto;
  height: 255px;
}
.recommended .content div figure a {
  text-decoration: unset;
}
.recommended .content div figure a img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.recommended .content div figure a figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommended .content div figure a figcaption h3 {
  font-family: "restora";
  color: black;
}
.recommended .content div figure a figcaption h4 {
  font-family: "Montserrat";
  color: #5050508c;
  font-weight: 500;
  margin-block: unset;
  font-size: 12px;
  margin-bottom: 3px;
}
.recommended .content div figure a figcaption span {
  font-size: 11px;
  color: #33333347;
}
.recommended .content div figure:hover {
  box-shadow: 0px 0px 24px 5px #80808014;
}

.product-details {
  height: auto;
  height: auto;
  margin-top: 100px;
}
.product-details .content {
  display: flex;
  flex-direction: column;
  height: inherit;
}
.product-details .content h1 {
  color: #88888880;
  font-weight: 100;
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: capitalize;
  margin-block: 50px;
  width: 100%;
}
@media (max-width: 1024px) {
  .product-details .content h1 {
    font-size: 14px !important;
  }
}
.product-details .content div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.product-details .content div .images {
  width: 700px;
  height: 550px;
  overflow-y: hidden;
  display: flex;
}
.product-details .content div .images div {
  width: 128px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.product-details .content div .images div picture {
  width: 125px;
  height: 125px;
}
.product-details .content div .images div picture.active {
  border: 1px solid black;
}
.product-details .content div .images div picture img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.product-details .content div .images picture {
  width: 525px;
  background: white;
  height: 100%;
  position: relative;
}
.product-details .content div .images picture span {
  position: absolute;
  top: 9px;
  right: 0;
  padding-inline: 15px;
  padding-block: 10px;
  background: #998484;
  color: white;
  font-weight: 500;
  font-family: "Restora";
  font-size: 15px;
}
.product-details .content div .images picture img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
.product-details .content div .info {
  width: 700px;
  height: inherit;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.product-details .content div .info header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
.product-details .content div .info header h1 {
  margin-block: unset;
  color: black;
  font-size: 28px;
  font-family: "restora";
  font-weight: 400;
}
.product-details .content div .info header span {
  font-size: 14px;
  color: #44444459;
  padding-right: 25px;
}
.product-details .content div .info header span i {
  font-size: 15px;
  position: absolute;
  z-index: 1;
  padding-left: 5px;
  font-style: unset;
}
.product-details .content div .info header span i + i {
  display: none;
  position: absolute;
  color: red;
}
.product-details .content div .info h2 {
  font-size: 12px;
  padding-right: 43%;
  font-family: "Montserrat";
  color: #9a9b99;
}
.product-details .content div .info span {
  font-size: 20px;
  font-family: "Montserrat";
  color: #00000091;
}
.product-details .content div .info .variation span {
  margin-right: 15px;
  width: 50px;
  height: 50px;
}
.product-details .content div .info .variation span img {
  width: 100%;
  height: 100%;
}
.product-details .content div .info .keyword {
  font-size: 15px;
  font-family: "Montserrat";
  color: #998484;
  font-weight: 800;
  text-transform: capitalize;
}
.product-details .content div .info .quantity {
  width: 500px;
  justify-content: space-between;
  align-items: center;
}
.product-details .content div .info .quantity span {
  font-size: 16px;
  color: black;
  font-weight: 600;
}
.product-details .content div .info .quantity div {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  width: 40%;
  height: 45px;
  align-items: center;
}
.product-details .content div .info .quantity div input#xxxx {
  border: unset;
  font-family: "Montserrat";
  text-align: center;
  width: 20px;
}
.product-details .content div .info .quantity button {
  background: #505050;
  color: white;
  padding-block: 17px;
  padding-inline: 25px;
  border: unset;
  font-family: "Restora";
}
.product-details .content div .info .quantity button span img.expanded {
  transform: rotate(90deg);
  transition: 0.5s;
}
.product-details .content div .info .accordion {
  background: #FFF;
  border-radius: 4px;
  width: 380px;
  padding-bottom: 10px;
  border-bottom: 1px solid #0000000f;
  list-style: unset;
  display: contents;
}
.product-details .content div .info .accordion a span img.expanded {
  transform: rotate(90deg);
  transition: 0.5s;
  margin-left: 0px;
}
.product-details .content div .info .accordion a span + span {
  font-family: "restora" !important;
  font-size: 15px !important;
  color: black !important;
  margin-left: 20px;
}
.product-details .content div .info .accordion ul.expandable.sublist {
  padding-left: 0px;
  line-height: 25px;
  width: 380px;
}

.brand-sublist li input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.brand-sublist li label {
  font-weight: 100;
}
.brand-sublist li label div {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid black;
  margin-right: 10px;
}
.brand-sublist li label div.active {
  background: black;
}

a.relative.inline-flex.items-center.px-4.py-2.ml-3.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.rounded-md.hover\:text-gray-500.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150 {
  display: block;
}

a.relative.inline-flex.items-center.px-4.py-2.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.rounded-md.hover\:text-gray-500.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150 {
  display: block;
}

p.text-sm.text-gray-700.leading-5 {
  display: block;
}

.paginationlinks {
  display: flex;
  flex-direction: row;
}

.flex.justify-between.flex-1.sm\:hidden {
  display: block;
}

.hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between {
  display: block;
}

.categories .content main div {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-block: 2%;
  font-family: "Montserrat";
  align-items: center;
  text-transform: capitalize;
  padding-bottom: unset;
}
@media (max-width: 440px) {
  .categories .content main div {
    margin-right: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.news {
  min-height: calc(100vh - 100px);
  display: block;
}
.news .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.news .content .sortby {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-block: 15px;
  font-family: "Montserrat";
  align-items: center;
  text-transform: capitalize;
  padding-bottom: unset;
  height: 100px;
}
.news .content .sortby button {
  font-size: 19px;
  padding: 15px 15px;
  border: none;
  background: #505050;
  color: white;
  font-family: "restora";
  text-transform: capitalize;
}
.news .content .sortby button span {
  width: auto;
}
.news .content .sortby button span img {
  height: inherit;
  width: auto;
}
.news .content main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  position: relative;
}
.news .content main div {
  width: 691.6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1024px) {
  .news .content main div {
    margin: auto;
  }
}
.news .content main div picture {
  width: 100%;
}
.news .content main div picture img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.news .content main div div {
  width: 100%;
  margin-top: 5%;
}
.news .content main div div span {
  font-family: "restora";
}
.news .content main div div h1 {
  color: black;
  font-weight: 100;
  font-size: 19px;
  margin-top: 5px;
}
.news .content main div div p {
  padding-right: 35%;
  margin-top: unset;
  margin-bottom: 35px;
  font-size: 15px;
  color: #c2bfbf;
  font-weight: 300;
}
.news .content main div div a {
  display: inline-block;
  padding: 15px 20px;
  font-family: "Restora", serif;
  color: #fff;
  text-decoration: none;
  position: relative;
  text-align: center;
  margin: auto;
  margin-left: 0;
  font-size: 16px;
}
.news .content main div div a::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  -webkit-backdrop-filter: blur(9px) brightness(0.9);
  backdrop-filter: blur(9px) brightness(0.9);
  background-color: #6b6c6a;
}
.news .content main div div a::after {
  display: block;
  content: "";
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #998484;
  transition: 0.3s ease-in-out all;
}
.news .content main div div a:hover:after {
  height: 100%;
}

a.relative.inline-flex.items-center.px-4.py-2.-ml-px.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.leading-5.hover\:text-gray-500.focus\:z-10.focus\:outline-none.focus\:ring.ring-gray-300.focus\:border-blue-300.active\:bg-gray-100.active\:text-gray-700.transition.ease-in-out.duration-150 {
  text-decoration: unset;
}

.article {
  height: calc(100vh - 335px);
  margin-top: 100px;
  color: white;
}
@media (max-width: 800px) {
  .article {
    margin-top: 60px;
  }
}
.article .articleback {
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.article .articleback::before {
  content: "";
  background: #00000038;
  width: 100%;
  height: calc(100vh - 335px);
  position: absolute;
  top: 0%;
}
.article .articleback .content {
  height: inherit;
  position: relative;
}
.article .articleback .content div {
  position: absolute;
  width: 31%;
  bottom: 0;
  height: 270px;
}
.article .articleback .content div span {
  position: absolute;
  top: 30px;
}
.article .articleback .content div h1 {
  color: white;
  font-size: 44px;
  margin-top: 20px;
  top: 50px;
  position: absolute;
}
.article .articleback .content .socialmedia {
  position: absolute;
  right: 20px;
}
.article .articleback .content .socialmedia ul {
  float: right;
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
}
.article .articleback .content .socialmedia ul li {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
  padding-block: 2px;
}
.article .articleback .content .socialmedia ul li img {
  width: 100%;
  height: 100%;
}

section.article-gallery .content div {
  font-size: 14px;
}
section.article-gallery .content div header {
  margin-top: 25px;
}
section.article-gallery .content div header h2 {
  font-size: 12px;
  font-weight: "Montserrat";
}
section.article-gallery .content div header p {
  margin-top: 30px;
}
section.article-gallery .content div main .first-row {
  display: flex;
  height: auto;
  width: 100%;
  padding-block: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
section.article-gallery .content div main .first-row div {
  width: 670px;
}
section.article-gallery .content div main .first-row div h3 {
  font-family: "restora";
  font-size: 29px;
  font-weight: 100;
  margin-top: unset;
}
section.article-gallery .content div main .first-row picture {
  width: 670px;
}
section.article-gallery .content div main .first-row picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.article-gallery .content div main .first-row + .first-row {
  display: flex;
  height: auto;
  width: 100%;
  padding-block: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
section.article-gallery .content div main .first-row + .first-row div {
  width: 670px;
}
section.article-gallery .content div main .first-row + .first-row div h3 {
  font-family: "restora";
  font-size: 29px;
  font-weight: 100;
  margin-top: unset;
}
section.article-gallery .content div main .first-row + .first-row picture {
  width: 670px;
}
section.article-gallery .content div main .first-row + .first-row picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.privacycookiesterms {
  color: black;
}
.privacycookiesterms .content h3 {
  margin-top: 70px;
  font-family: "restora";
  font-weight: 500;
  font-size: 24px;
}
.aboutus {
  height: calc(100vh - 335px);
  margin-top: 100px;
  color: white;
}
@media (max-width: 768px) {
  .aboutus {
    margin-top: 60px;
  }
}
.aboutus div {
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.aboutus .content {
  position: relative;
}
.aboutus .content div {
  width: -webkit-fill-available;
  position: absolute;
  /* width: 450px; */
  height: 300px;
  left: 0;
  bottom: 0;
  display: flex;
  /* height: inherit; */
  flex-direction: column;
  align-items: center;
}
.aboutus .content div span {
  display: block;
  position: absolute;
  height: 0;
  color: #ffffff73;
  font-weight: 100;
  top: 50%;
  transform: translateY(50%);
}
.aboutus .content div h1 {
  color: white;
  font-size: 55px;
  bottom: 0;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  margin-bottom: 50px;
}
.aboutus .content .socialmedia {
  position: absolute;
  margin-right: 20px;
  right: 0;
}
.aboutus .content .socialmedia ul {
  float: right;
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
}
.aboutus .content .socialmedia ul li {
  width: 40px;
  height: 40px;
  padding-block: 2px;
}
.aboutus .content .socialmedia ul li img {
  width: 100%;
  height: 100%;
}

.aboutus-gallery .content div {
  font-size: 14px;
}
.aboutus-gallery .content div header {
  margin-block: 40px;
}
.aboutus-gallery .content div header h2 {
  font-size: 12px;
  font-weight: "Montserrat";
}
.aboutus-gallery .content div header p {
  margin-top: 30px;
}
.aboutus-gallery .content div main .first-row {
  display: flex;
  height: auto;
  width: 100%;
  row-gap: 70px;
  align-items: center;
  padding-block: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.aboutus-gallery .content div main .first-row div {
  width: 670px;
}
.aboutus-gallery .content div main .first-row div h3 {
  font-family: "restora";
  font-size: 29px;
  font-weight: 100;
  padding-bottom: 10px;
  margin-top: unset;
  border-bottom: 1px solid #f3f2f299;
}
.aboutus-gallery .content div main .first-row div p {
  font-weight: 100;
  font-size: 16px;
}
.aboutus-gallery .content div main .first-row picture {
  width: 670px;
}
@media (max-width: 1024px) {
  .aboutus-gallery .content div main .first-row picture {
    margin: auto;
  }
}
.aboutus-gallery .content div main .first-row picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.account .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
section.account .content h2 {
  color: #505050;
  font-size: 30px;
}
section.account .content .login {
  width: 400px;
  height: 600px;
  position: relative;
  /* background: antiquewhite; */
}
section.account .content .login form {
  display: flex;
  flex-direction: column;
  padding-block: 20px;
}
section.account .content .login form input {
  margin-block: 10px;
  text-indent: 20px;
}
section.account .content .login form input[type=email] {
  height: 40px;
}
section.account .content .login form input[type=password] {
  height: 40px;
}
section.account .content .login form input[type=submit] {
  margin: auto;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  font-family: "restora";
  margin-top: 30px;
  background: #505050;
  text-indent: 0px;
}
section.account .content .login form input::placeholder {
  font-style: italic;
  color: #84848466;
  padding-left: 0px;
  font-weight: 100;
}
section.account .content .login form a {
  text-align: right;
  color: #797979;
  font-weight: 600;
}
section.account .content .login span {
  position: relative;
  /* left: 50%; */
  width: 100%;
  text-align: center;
  display: block;
}
section.account .content .login section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 115px;
}
section.account .content .login section .facebook-google-login {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}
section.account .content .login section .facebook-google-login picture {
  position: absolute;
  width: 52px;
  height: 52px;
  z-index: 1;
}
section.account .content .login section .facebook-google-login picture img {
  width: 100%;
  height: 100%;
}
section.account .content .login section .facebook-google-login div {
  height: inherit;
  width: 93%;
  position: absolute;
  right: 0;
  border: 1px solid black;
}
section.account .content .login section .facebook-google-login div span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
section.account .content .create-account {
  width: 400px;
  height: 600px;
  position: relative;
  /* background: antiquewhite; */
}
@media (max-width: 430px) {
  section.account .content .create-account {
    width: 100%;
    margin: auto;
  }
}
section.account .content .create-account form {
  display: flex;
  flex-direction: column;
  padding-block: 20px;
}
section.account .content .create-account form input {
  margin-block: 10px;
  text-indent: 20px;
}
section.account .content .create-account form input::placeholder {
  color: #84848466;
  font-style: italic;
  padding-left: 0px;
  font-weight: 100;
}
section.account .content .create-account form input[type=text] {
  width: 180px;
  height: 40px;
}
section.account .content .create-account form input[type=email] {
  height: 40px;
}
section.account .content .create-account form select {
  width: fit-content;
  margin-block: 10px;
  height: 46px;
}
section.account .content .create-account form input[type=tel] {
  width: -webkit-fill-available;
  height: 40px;
}
section.account .content .create-account form input[type=password] {
  height: 40px;
}
section.account .content .create-account form input[type=submit] {
  margin: auto;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  font-family: "restora";
  margin-top: 30px;
  text-indent: 0px;
  background: #505050;
}

.brands .content .sortby {
  width: unset;
  flex-wrap: wrap;
  margin-top: 15px;
}
.brands .content .sortby div .underline {
  width: 310px;
  height: 0.01em;
  background: #f3f2f2;
}
.brands .content .sortby span {
  letter-spacing: 0.5em;
  font-size: 19px;
  color: #00000073;
  font-weight: 100;
}
.brands .content main {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.brands .content main h1 {
  color: #998484;
  font-weight: 100;
  font-size: 50px;
  font-family: "restora";
  width: 100%;
  text-transform: capitalize;
  margin-top: unset;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeecec;
  margin-bottom: unset;
}
.brands .content main div {
  column-count: auto;
  height: 80px;
  width: auto;
  margin: unset;
}
.brands .content main div ul {
  column-count: auto;
  height: 80px;
  column-fill: auto;
  list-style: none;
  padding-left: 0;
  column-width: 180px;
  line-height: 25px;
}
@media (max-width: 768px) {
  .brands .content main div ul {
    column-width: auto;
    height: auto;
  }
}
.brands .content main div ul li {
  text-transform: capitalize;
  color: #0000008c;
  font-weight: 100;
  font-size: 16px;
}

.brand-logo div {
  background: #eef0ec;
  height: auto;
}
@media (max-width: 768px) {
  .brand-logo div {
    margin: auto;
  }
}
.brand-logo div .content {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
}
.brand-logo div .content h3 {
  margin: auto;
  font-size: 40px;
  font-family: "restora";
  color: black;
  font-weight: lighter;
  margin-top: 65px;
}
@media (max-width: 768px) {
  .brand-logo div .content h3 {
    font-size: 25px;
  }
}
.brand-logo div .content .brandslogo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brand-logo div .content .brandslogo div {
  width: 190px;
  height: 190px;
}
@media (max-width: 768px) {
  .brand-logo div .content .brandslogo div {
    width: 150px;
    height: 150px;
  }
}
.brand-logo div .content .brandslogo div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 3;
}

.menu-btn__burger {
  width: 70%;
  height: 2px;
  background: #9a9b99c7;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  background: #9a9b99c7;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-7px);
}

.menu-btn__burger::after {
  transform: translateY(7px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: gray;
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: gray;
}

.burger-display {
  width: 100%;
  height: 0vh;
  position: absolute;
  transition: 0.5s;
  left: 0;
}
.burger-display .menu-responsive {
  left: -181px;
  position: absolute;
  /* bottom: 0; */
  color: #fff;
  padding-right: 40px;
  /* display: none; */
  display: flex;
  justify-content: flex-start;
  flex-direction: column !important;
}
.burger-display .menu-responsive .main-menu.level-1 {
  padding-left: 0px;
  font-family: "Montserrat";
  font-size: 10px;
  flex-direction: column !important;
  display: block;
}
.burger-display .menu-responsive .main-menu.level-1 li {
  position: relative;
}
.burger-display .menu-responsive .main-menu.level-1 li::after {
  content: "❯";
  position: absolute;
  height: 30px;
  color: #998484;
  transform: rotate(90deg);
  top: 10px;
  right: 0;
  margin: auto;
  border: unset;
  transition: 0.5s ease-in-out all;
}
.burger-display .menu-responsive .main-menu.level-1 li a.label {
  line-height: 45px;
  font-family: "Montserrat";
  font-size: 12px;
  width: 100%;
  margin: 0px;
  /* position: relative; */
  height: 59px;
  display: block;
}
.burger-display .menu-responsive .main-menu.level-1 li ul.main-menu.level-m.level-2 {
  padding-left: 0px;
  font-family: "Montserrat" !important;
  font-size: 10px !important;
  position: relative !important;
  left: 0;
  list-style: none;
  justify-content: flex-start;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  top: 0px !important;
  box-shadow: unset;
}
.burger-display .menu-responsive .main-menu.level-1 li ul.main-menu.level-m.level-2 .encloureClass.enclosed {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.burger-display .menu-responsive .main-menu.level-1 li ul.main-menu.level-m.level-2 li::after {
  content: unset;
}
.burger-display .menu-responsive .main-menu.level-1 li ul.main-menu.level-m.level-2 li a.label {
  line-height: 45px;
  font-family: "Montserrat";
  font-size: 10px;
  width: 100%;
  margin: 0px;
}
.burger-display .menu-responsive .main-menu.level-1 li ul.main-menu.level-m.level-2 li ul.main-menu.level-m.level-3 {
  border-bottom: unset;
  padding-left: 0;
  width: 100%;
  justify-content: flex-start;
}

.burger-display.open {
  overflow-y: auto;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  transition: 0.5s;
  top: 60px;
  left: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column !important;
}
.burger-display.open .menu-responsive {
  left: 0;
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
  color: #ffffff;
  transition: 0.5s;
  padding-right: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column !important;
}
.burger-display.open .menu-responsive li .main-menu.level-1.Display {
  padding-left: 0px;
  font-family: "Montserrat";
  font-size: 10px;
  flex-direction: column !important;
  display: none;
}
.burger-display.open .menu-responsive li .main-menu.level-1.Display li {
  position: relative;
}
.burger-display.open .menu-responsive li .main-menu.level-1.Display li::after {
  content: "❯";
  position: absolute;
  height: 30px;
  top: 0;
  color: #998484;
  transform: rotate(90deg);
  right: 0;
  margin: auto;
  border: unset;
  transition: 0.5s ease-in-out all;
}
.burger-display.open .menu-responsive li .main-menu.level-1.Display li a.label {
  line-height: 45px;
  font-family: "Montserrat";
  font-size: 10px;
  width: 100%;
  margin: 0px;
}
.burger-display.open .menu-responsive li .main-menu.level-1.Display li ul.main-menu.level-m.level-2.Display {
  padding-right: 0px;
  font-family: "Montserrat" !important;
  font-size: 10px !important;
  position: relative !important;
  left: 0;
  width: 100%;
}
.burger-display.open .menu-responsive li .main-menu.level-1.Display li ul.main-menu.level-m.level-2.Display .encloureClass.enclosed {
  display: flex;
  flex-direction: column;
}
.burger-display.open .menu-responsive li .main-menu.level-1.Display li ul.main-menu.level-m.level-2.Display li a.label {
  line-height: 45px;
  font-family: "Montserrat";
  font-size: 10px;
  width: 100%;
  margin: 0px;
}
.burger-display.open .menu-responsive li .main-menu.level-1.Display li ul.main-menu.level-m.level-2.Display li ul.main-menu.level-m.level-3.Display {
  border-bottom: unset;
  padding-left: 0;
  width: 100%;
  justify-content: flex-start;
}

.account-info .content div {
  display: flex;
  align-items: baseline;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}
@media (max-width: 768px) {
  .account-info .content div {
    flex-direction: column !important;
    width: 100% !important;
  }
}
.account-info .content div ul {
  width: 280px;
  line-height: 5em;
  height: 325px;
  font-family: "restora";
  color: black;
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}
@media (max-width: 400px) {
  .account-info .content div ul {
    width: 100%;
  }
}
.account-info .content div ul li {
  border-bottom: unset;
  position: relative;
}
.account-info .content div #second {
  width: 895.69px;
  height: auto;
}
.account-info .content div #second.active {
  display: block;
}
.account-info .content div #second header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.account-info .content div #second header h3 {
  font-family: "restora";
  color: #505050;
  font-size: 25px;
  font-weight: 400;
}
.account-info .content div #second header button {
  display: contents;
}
.account-info .content div #second header button a {
  color: white;
  position: relative;
  right: 0;
  border: none;
  top: 0;
  padding-block: 21px;
  font-family: "Restora";
  background: #505050;
  color: white;
  padding-inline: 25px;
  padding-block: 15px;
  z-index: 1;
}
.account-info .content div #second header button a::before {
  background: #505050;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* display: block; */
  left: 0;
  bottom: 0;
  z-index: -1;
}
.account-info .content div #second header button a::after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background: #998484;
  /* display: block; */
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
}
.account-info .content div #second header button a:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #998484;
  /* display: block; */
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
}
.account-info .content div #second form .box .sub-box {
  width: 440px;
  display: flex;
  justify-content: flex-start;
  height: 150px;
  position: relative;
  border: 1px solid black;
}
.account-info .content div #second form .box .sub-box header {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  padding-inline: 20px;
  padding-top: 5px;
}
.account-info .content div #second form .box .sub-box header span {
  color: #707070;
  font-weight: 500;
}
.account-info .content div #second form .box .sub-box header div {
  width: 45px;
}
.account-info .content div #second form .box .sub-box header div span {
  width: 17px;
  height: 17px;
}
.account-info .content div #second form .box .sub-box header div span img {
  width: 100%;
  height: inherit;
  object-fit: contain;
}
.account-info .content div #second form .box .sub-box p {
  padding-inline: 20px;
  margin-bottom: 70px;
}
.account-info .content div #second form input[type=button] {
  border-style: unset;
  padding-inline: 35px;
  padding-block: 15px;
  background: #505050;
  color: white;
  font-family: "restora";
  margin-top: 30px;
}
.account-info .content div #second form input[type=tel] {
  width: 80% !important;
  height: 40px;
}
.account-info .content div #second form select {
  height: 46px;
}
.account-info .content div main {
  width: 895.69px;
  height: auto;
}
@media (max-width: 768px) {
  .account-info .content div main {
    width: 100%;
  }
}
.account-info .content div main.active {
  display: block;
}
.account-info .content div main h3 {
  font-family: "restora";
  color: #505050;
  font-size: 25px;
  font-weight: 400;
}
.account-info .content div main form .sub-form div {
  width: 440px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.account-info .content div main form .sub-form div label {
  display: block;
}
.account-info .content div main form .sub-form div input {
  height: 40px;
  width: 100%;
  font-family: "Montserrat";
  color: black;
  text-indent: 20px;
  font-size: 17px;
  font-weight: 100;
}
.account-info .content div main form input[type=submit] {
  border-style: unset;
  padding-inline: 35px;
  padding-block: 15px;
  background: #505050;
  color: white;
  font-family: "restora";
}
.account-info .content div main form input[type=tel] {
  width: 80% !important;
  height: 40px;
}
.account-info .content div main form input[type=number] {
  width: 72px !important;
}
.account-info .content div main form select {
  height: 46px;
}

#edit-address-first div {
  width: 100%;
}
#edit-address-first div form .form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#edit-address-first div form .form-container .form-title {
  width: 100%;
}
#edit-address-first div form .form-container .form-content {
  display: flex;
  flex-direction: row;
}
#edit-address-first div form .form-container .form-content input {
  width: 48%;
  height: 40px;
  text-indent: 15px;
  font-family: "Montserrat";
  font-size: 15px;
}
#edit-address-first div form .form-container .form-content select {
  width: 49%;
  height: 45px;
  font-size: 15px;
  font-family: "Montserrat";
  text-indent: 15px;
}
#edit-address-first div form .form-container .form-content button {
  padding-inline: 35px;
  padding-block: 15px;
  background: #333333;
  font-family: "restora";
  color: white;
  border: none;
}

#edit-address-second div div {
  display: flex;
  flex-direction: row;
}
#edit-address-second div div div {
  display: flex;
  flex-direction: column;
}
#edit-address-second div div div input[type=text] {
  height: 40px;
  width: 430px;
}
#edit-address-second div div div select#country {
  height: 46px;
  width: 438px;
}
#edit-address-second div div input[type=button] {
  border-style: unset;
  padding-inline: 35px;
  padding-block: 15px;
  background: #505050;
  color: white;
  font-family: "restora";
}
#edit-address-second div div .email-div {
  width: 100%;
}
#edit-address-second div div .email-div input[type=email] {
  height: 40px;
  width: -webkit-fill-available;
}

#wishlist {
  width: 969.69px;
}
#wishlist h3 {
  margin-left: 80px;
}
#wishlist div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#wishlist div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
}
#wishlist div div:hover {
  box-shadow: 0px 0px 24px 5px #80808014;
}
#wishlist div div:hover #heart {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
  color: #998484;
  transform: translate(-15px, 30px);
}
#wishlist div div:hover a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  padding-inline: 20px;
  padding-block: 20px;
  backdrop-filter: blur(7px);
  color: white;
  background: #33333336;
  text-decoration: unset;
  font-family: "Restora";
  display: block;
}
#wishlist div div:hover a::before {
  content: "";
  position: relative;
  height: 0;
  bottom: 0;
}
#wishlist div div:hover a:hover::before {
  content: "";
  position: absolute;
  height: inherit;
  width: 100%;
  left: 0;
  height: 100%;
  bottom: 0px;
  background: #998484;
  transition: 0.5s;
  z-index: -1;
}
#wishlist div div picture {
  width: 100%;
  position: relative;
}
#wishlist div div picture #heart {
  display: none;
}
#wishlist div div picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wishlist div div picture a {
  display: none;
}
#wishlist div div h3 {
  font-size: 15px;
  margin-block: unset;
  color: black;
  margin-left: 0;
}
#wishlist div div h4 {
  margin-block: unset;
  font-weight: 500;
  font-size: 13px;
}
#wishlist div div span {
  position: relative;
  bottom: 15px;
}

.contactus .content {
  display: flex;
  flex-direction: column;
}
.contactus .content header {
  width: 45%;
  margin: auto;
  margin-top: 15px;
}
.contactus .content header h2 {
  font-size: 30px;
  color: black;
  border-bottom: 1px solid #dedede;
  padding-bottom: 8px;
}
.contactus .content main {
  width: 45%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 18px;
}
.contactus .content main div {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.contactus .content main div textarea.text-input {
  height: 120px;
}
.contactus .content main div label {
  font-weight: 600;
  margin-bottom: 8px;
}
.contactus .content main div input {
  width: 100%;
  height: 45px;
  padding: unset;
  box-sizing: border-box;
}
.contactus .content main div input[type=text] {
  width: 100%;
  height: 45px;
}
.contactus .content input[type=submit] {
  margin: auto;
  padding-inline: 35px;
  padding-block: 15px;
  border: unset;
  background: #505050;
  margin-top: 30px;
  color: white;
  font-family: "Restora";
}

#orders table {
  line-height: 4em;
  border-top: 1px solid #eef0ec;
}
#orders table tr {
  text-align: left;
}
#orders table tr th {
  width: 130px;
}
#orders table tr td {
  position: relative;
}
#orders table tr td a {
  position: absolute;
  right: 0;
  border: none;
  top: 0;
  font-family: "Restora";
  background: #505050;
  padding-inline: 20px;
  padding-block: 10px;
  color: white;
  padding-inline: 25px;
  padding-block: 0px;
  z-index: 1;
}
#orders table tr td a::before {
  background: #505050;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* display: block; */
  left: 0;
  bottom: 0;
  z-index: -1;
}
#orders table tr td a::after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background: #998484;
  /* display: block; */
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
}
#orders table tr td a:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #998484;
  /* display: block; */
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
}

#orders-details table {
  line-height: 4em;
  border-top: 1px solid #eef0ec;
}
#orders-details table tr {
  text-align: left;
}
#orders-details table tr th {
  width: 445.5px;
}
#orders-details table tr td {
  width: 445.5px;
  position: relative;
}
#orders-details table tr td button {
  position: absolute;
  right: 0;
  top: 0;
  padding-inline: 20px;
  padding-block: 10px;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

ul.pagination {
  list-style: none;
  display: flex;
  place-content: center;
  width: 110px;
  margin: auto;
  justify-content: space-between;
  padding-left: 0px;
}

li.page-item.active {
  font-size: 15px;
  font-weight: bolder;
}

a.page-link {
  text-decoration: unset;
}

li.page-item {
  width: 20px;
}

.cart .content main {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.cart .content main picture {
  display: block;
  width: 130px;
  height: 130px;
}
.cart .content main picture img {
  width: 100%;
  height: 100%;
}
.cart .content main div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 200px;
}
.cart .content main div h3 {
  font-size: 15px;
  font-weight: 400;
  color: black;
  margin-bottom: unset;
}
.cart .content main div h4 {
  font-weight: 400;
  font-size: 10px;
  font-family: "restora";
  margin-top: 7px;
}
.cart .content main span.total {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart .content main span.total .quantity {
  display: inline-block;
}
.cart .content main span.total .quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: unset;
  font-size: 17px;
  font-family: "Montserrat";
  color: black;
}
.cart .content main span.total .quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
.cart .content main span.total .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
.cart .content main span.total div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 218px;
}
.cart .content main .quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
  display: flex;
  flex-direction: row;
  width: 265px;
}
.cart .content main .quantity.buttons_added span {
  display: inline-block;
  border: 1px solid black;
}
.cart .content main .quantity.buttons_added span input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}
.cart .content main .quantity.buttons_added span .minus {
  padding: 7px 10px 8px;
  height: 41px;
  font-size: 10px;
  color: black;
  background-color: unset;
  border: unset;
  outline: unset;
  cursor: pointer;
  border-right: 0;
}
.cart .content main .quantity.buttons_added span .minus:focus {
  outline: none;
}
.cart .content main .quantity.buttons_added span .plus {
  padding: 7px 10px 8px;
  height: 41px;
  font-size: 10px;
  color: black;
  background-color: unset;
  border: unset;
  outline: unset;
  cursor: pointer;
  border-left: 0;
}
.cart .content main .quantity.buttons_added span .plus:focus {
  outline: none;
}
.cart .content .total-price {
  height: 50px;
  width: 100%;
  background: #9a9b9921;
  margin-bottom: 15px;
}
.cart .content .total-price div {
  width: 35%;
  float: right;
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
.cart .content .total-price div span {
  display: block;
  width: 55%;
}
.cart .content .total-price div span + span {
  display: block;
  width: 45%;
}
.cart .content .coupon-code {
  margin-bottom: 15px;
  position: relative;
  height: 50px;
  width: 100%;
}
.cart .content .coupon-code div {
  width: 35%;
  float: right;
  display: flex;
  height: 100%;
  right: 0;
  align-items: center;
  justify-content: flex-start;
}
.cart .content .coupon-code div div {
  width: 261.8px;
  display: flex;
}
.cart .content .coupon-code div div input[type=text]::placeholder {
  color: #0000006e;
  font-weight: 100;
  font-family: "Montserrat";
  font-style: italic;
}
.cart .content .coupon-code div div input[type=text] {
  height: 40px;
  width: 120px;
}
.cart .content .coupon-code div div input[type=submit] {
  height: 46px;
  width: 95px;
  background: #505050;
  color: white;
  font-family: "Restora";
  border: unset;
}
.cart .content .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.cart .content .buttons a {
  padding-inline: 20px;
  padding-block: 15px;
  text-decoration: unset;
  color: white;
  font-family: "Restora";
  position: relative;
  z-index: 1;
}
.cart .content .buttons a::before {
  background: #505050;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* display: block; */
  left: 0;
  bottom: 0;
  z-index: -1;
}
.cart .content .buttons a::after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background: #998484;
  /* display: block; */
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
}
.cart .content .buttons a:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #998484;
  /* display: block; */
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
}
.cart .content .buttons button {
  background: #505050;
  padding-inline: 20px;
  padding-block: 15px;
  text-decoration: unset;
  color: white;
  font-family: "Restora";
  border: unset;
}

.dropdown-el {
  width: 145px;
  top: 0;
  position: absolute;
  right: 0;
  display: inline-block;
  min-height: 2em;
  max-height: 2em;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  border: 0.06em solid transparent;
  background-color: #998484;
  transition: 0.5s all ease-in-out;
}
.dropdown-el input:focus + label {
  background: #def;
}
.dropdown-el input {
  width: 1px;
  height: 1px;
  display: inline-block;
  position: absolute;
  opacity: 0.01;
}
.dropdown-el label {
  font-size: 20px;
  /* padding-left: 1em; */
  text-indent: 10px;
  border-top: 0.06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em;
  cursor: pointer;
  position: relative;
  transition: 0.5s color ease-in-out;
}
.dropdown-el label:nth-child(2) {
  margin-top: 2em;
  border-top: 0.06em solid #d9d9d9;
}
.dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}
.dropdown-el.expanded {
  border: 0.06em solid black;
  background: #fff !important;
  border-radius: 0.25em;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 15em;
}
.dropdown-el.expanded label {
  border-top: 0.06em solid #d9d9d9;
  color: #998484;
}
.dropdown-el.expanded label:hover {
  color: black;
}
.dropdown-el.expanded input:checked + label {
  color: #998484;
}

.checkout {
  margin-top: 40px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: space-around;
  margin: auto;
  row-gap: 40px;
  width: 865px;
}
.checkout picture {
  display: flex;
  width: 865px;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.checkout picture div {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
}
.checkout picture div .parent {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.checkout picture div .parent .prog-bar {
  height: 2px;
  background: #e8e8e4;
}
.checkout picture div .parent .square {
  width: 35px;
  height: 35px;
  place-content: center;
  font-family: Restora;
  background: white;
  border: 1px solid #707070;
  color: #707070;
}
.checkout picture div span {
  margin-top: 20px;
}
.checkout picture .progress-bar {
  width: 30px;
  height: 1px;
}
.checkout .paymentmethod {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
.checkout .paymentmethod span {
  border: 1px solid black;
  margin-right: 0px;
  width: 25px;
  height: 25px;
}
.checkout .paymentmethod span img {
  width: 100%;
  height: 100%;
}
.checkout h3 {
  align-self: start;
  font-size: 30px;
  font-weight: 500;
  font-family: "Restora";
  padding-block: 7px;
  margin-block: 40px;
  border-bottom: 1px #0000000f solid;
}
.checkout main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}
.checkout main .sub-box {
  width: 420px;
  border: 1px solid black;
  height: 150px;
}
.checkout main .sub-box header {
  display: flex;
  justify-content: space-between;
}
.checkout main .sub-box header span {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-top-width: 0px;
  border-left-width: 0px;
}
.checkout main .sub-box header span img {
  width: 100%;
  height: auto;
}
.checkout main .sub-box header div {
  width: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.checkout main .sub-box header div span {
  width: 20px;
  height: 20px;
  border: unset;
}
.checkout main .sub-box p {
  margin-inline: 12px;
  font-weight: 700;
}
.checkout main p + p {
  font-weight: 100 !important;
}
.checkout .btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}
.checkout .btns a {
  color: white;
  font-family: "Restora";
  padding-inline: 20px;
  padding-block: 15px;
  align-items: center;
  z-index: 1;
  position: relative;
}
.checkout .btns a::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #505050;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.checkout .btns a::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #998484;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  height: 0;
  transition: 0.5s;
}
.checkout .btns a:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #998484;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  height: 100%;
  transition: 0.5s;
}
.checkout .btns input {
  background: #505050;
  color: white;
  font-family: "Restora";
  padding-inline: 20px;
  padding-block: 15px;
  align-items: center;
  border-style: unset;
}
.checkout .btns input::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #505050;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.checkout .btns input::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #998484;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  height: 0;
  transition: 0.5s;
}
.checkout .btns input:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #998484;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  height: 100%;
  transition: 0.5s;
}
.checkout .btns input[type=submit i]:disabled {
  background: #5050506e;
}

.empty {
  width: 100%;
  position: relative;
  height: 100px;
  margin-top: 45px;
}
.empty div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.empty div picture {
  width: 45px;
  height: 45px;
  display: block;
  margin: auto;
}
.empty div picture img {
  width: 100%;
  height: 100%;
}
.empty div h3 {
  font-family: "Restora";
  font-size: 25px;
}

.fancybox-content {
  background: #f3f2f2;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  filter: drop-shadow(0px 2px 3px grey);
  font-family: "Restora";
  border: 7px #998484 solid;
  vertical-align: middle;
}
.fancybox-content button.rounded {
  border-style: unset;
  margin-left: 20px;
  font-family: "Restora";
  /* font-weight: 100; */
}
.fancybox-content button.rounded:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: #998484;
  outline-style: auto;
  outline-width: 1px;
}

.fancybox-bg {
  background: linear-gradient(45deg, #333333, transparent) !important;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.item-added {
  position: absolute;
  margin: 0;
  top: 100px;
  width: 300px;
  margin-top: 20px;
  margin-right: 20px;
  padding-inline: 35px;
  height: 200px;
  background: #fff;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: 0.5s;
  right: 0;
  justify-content: space-around;
  box-shadow: 4px 3px 16px 0px #80808030;
  transition: 0.5s;
}
.item-added span {
  font-weight: 600;
}
.item-added .item-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-added .item-flex picture {
  width: 80px;
  height: 80px;
}
.item-added .item-flex picture img {
  width: 100%;
  height: 100%;
}
.item-added .item-flex div {
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.item-added .item-flex div span + span {
  font-weight: 100;
}
.item-added .item-btn {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-added .item-btn a {
  width: 45%;
  background: #ffffff;
  border: 1px solid black;
  font-weight: 500;
  /* font-family: 'Montserrat'; */
  /* height: 21px; */
  /* padding-inline: 7px; */
  /* position: absolute; */
  padding-block: 15px;
  font-size: 10px;
  text-align: center;
}
.item-added .item-btn a + a {
  width: 45%;
  font-size: 10px;
  background: #333;
  border: 1px solid #333333;
  font-weight: 600;
  /* font-family: 'Montserrat'; */
  text-align: center;
  /* height: 21px; */
  padding-block: 15px;
  /* padding-inline: 20px; */
  color: white;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser'components default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #99848494;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background: #99848496;
  background-size: contain;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

ul {
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: none;
}

.forget-password .content {
  display: flex;
  flex-direction: column;
}
.forget-password .content header {
  width: 45%;
  margin: auto;
  margin-top: 15px;
}
.forget-password .content form main {
  width: 45%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 18px;
  flex-direction: column;
}
.forget-password .content form main div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
}
.forget-password .content form main div label {
  font-weight: 600;
  margin-bottom: 8px;
}
.forget-password .content form main div input[type=email] {
  width: 100%;
  height: 120px;
  padding: unset;
  box-sizing: border-box;
}
.forget-password .content form main div input[type=email]::placeholder {
  font-style: italic;
  padding-left: 20px;
  color: #9a9b99c7;
}
.forget-password .content form main input[type=submit] {
  margin: auto;
  padding-block: 10px;
  color: white;
  background: #444;
  border: unset;
  font-family: "Restora";
  font-size: 16px;
  padding-inline: 25px;
}

input:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: #998484;
  outline-style: auto;
  outline-width: 1px;
}

span.pagination {
  display: block;
  width: 100%;
  position: relative;
  margin-top: 50px;
}
span.pagination ul.pagination-2 {
  margin: auto;
  display: flex;
  justify-content: center;
}
span.pagination ul.pagination-2 li.page-number.not {
  font-size: 12px;
  margin-inline: 12px;
}
span.pagination ul.pagination-2 li.page-number.active {
  font-size: 12px;
}

.phone-container {
  width: 437.93px !important;
  display: flex;
}
.phone-container select {
  width: 70px !important;
}
.phone-container input {
  width: 359px !important;
}

.sortby {
  height: 100px !important;
  width: 100% !important;
  display: flex;
}
.sortby .info {
  position: relative !important;
  width: 50% !important;
}
.sortby .button {
  position: relative !important;
  width: 50% !important;
}
.sortby .button select#sort-by-name:focus-visible {
  outline: #998484;
}
.sortby .button select {
  position: absolute;
  right: 0;
  bottom: 0;
  appearance: none;
  background: #505050;
  color: white;
  font-family: "Restora";
  padding-block: 15px;
  font-size: 17px;
  width: 15%;
  cursor: pointer;
  padding-inline: 5px;
}
.sortby .button .sortby-logo {
  position: absolute;
  right: 10px;
  bottom: 0;
  transform: translateY(-100%);
  z-index: 1;
}

img.expand {
  transform: rotate(90deg);
  transition: 0.5s;
}

img.expand.expanded {
  transform: rotate(45deg);
  transition: 0.5s;
}

#arrow-right {
  color: #998484;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*# sourceMappingURL=style.css.map */
